transformers
timm
msgpack
scikit-learn
tiktoken
protobuf
accelerate
backoff
bitsandbytes
datasets
deepspeed
einops-exts
einops
sentencepiece
gradio
gradio_client
httpx
ninja
nltk
numpy
wandb
Pygments
markdown2
shortuuid
scipy
peft
spacy
jsonlines
openai